.back-image{
    background-image: url(./img/home.svg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.title{
   color:#707070;
    letter-spacing: 2px;
    font-size: 4vh;
    padding-bottom: 2vh;

    margin-top: 10vh;

}
.para{
    color: #707070;
    font-size: 20px;

   }


 .sec-backImage{
     background-image: url(./img/Background\ diagrams.svg);
     height: auto;
     width:auto;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     /* opacity: 0.6; */
     
 }
 

 .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }